html {
  box-sizing: border-box;
  color: #585858;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header {
  color: white;
  height: auto;
  font-weight: 300;
  font-size: 1.9em;
  padding: 3em 0;
}

@media (max-width: 780px) {
  header {
    padding: 0.8em 0;
    font-size: 1.2em;
  }
}

@media (max-width: 24.37em) {
  header {
    font-size: .8em;
    font-size: 4.7vmin;
  }
}

#glossbosslogo .svgBluefill {
  fill: #44bcff;
}

#glossbosslogo .svgDarkfill {
  fill: #585858;
}

.header--logo {
  text-align: center;
  margin: 3em auto !important;
  -webkit-transition: 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.15s cubic-bezier(0.55, 0, 0.1, 1);
}

.header--logo svg {
  -webkit-transition: 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  width: 360px;
  max-width: 95%;
}

.post--title {
  max-width: 100%;
}

.post--title small {
  font-size: .7em;
  font-weight: 300;
}

.post--title a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 7px rgba(0,0,0,0.3);
}

.kategorie--select {
  font-weight: 500;
  cursor: pointer;
  background-color: HSL(300, 5%, 95%);
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0.1);
  font-size: 20px;
  -webkit-appearance: none;
  outline: none;
  color: #585858;
  padding: 10px 20px;
  padding-right: 45px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='45px' height='45px' viewBox='0 0 451.847 451.847'><g><path fill='#44bcff' d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z'/></g></svg>") right no-repeat;
  background-transparency: 0.5;
  background-position: right 15px top 14px;
  background-size: 18px 18px;
}

@media (max-width: 780px) {
  .kategorie--select {
    font-size: 14px;
    padding: 10px 15px;
    padding-right: 40px;
    background-position: right 15px top 11px;
  }
}

.linklist {
  list-style: none;
  font-size: 1em;
  overflow: hidden;
  -webkit-transition: .25s;
  transition: .25s;
  margin: 10px;
  font-weight: 400;
}

@media (max-width: 780px) {
  .linklist {
    margin: 0;
  }
}

@media (min-width: 68.76em) {
  .linklist {
    font-size: 1.2em;
  }
}

@media (max-width: 780px) {
  .linklist .canHide {
    display: none;
  }
}

.linklist .canHideSmaller {
  display: none;
}

@media (min-width: 420px) {
  .linklist .canHideSmaller {
    display: inline-block;
  }
}

.linklist li {
  text-align: center;
  margin-right: 1.5em;
  display: inline-block;
  line-height: 1.5em;
  text-transform: uppercase;
}

@media (max-width: 780px) {
  .linklist li {
    margin: 10px 0;
  }
}

@media (min-width: 420px) {
  .linklist li {
    margin-right: 1em;
  }
}

.linklist li a {
  text-decoration: none;
  color: #585858;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.header__extend {
  background: HSL(300, 5%, 95%);
  padding: 0.5px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  z-index: 2;
  text-align: center;
}

.cookies-hinweis a {
  color: #44bcff;
  text-decoration: underline;
}

.cookies-hinweis {
  font-weight: 500;
  width: 100%;
  text-align: center;
  font-size: 15px;
  display: none;
  z-index: 2;
  background-color: HSL(300, 5%, 95%);
  position: fixed;
  bottom: 0;
  padding-top: 10px;
}

#cookies_acc {
  margin: 10px;
}

.width--wrapper {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 780px) {
  .width--wrapper {
    width: 93%;
  }
}

.loadmore {
  display: block;
  -webkit-transition: 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  cursor: pointer;
  background: HSL(300, 5%, 95%);
  text-align: center;
  padding: 1em;
  margin: 3em 1em;
  color: #585858;
  font-weight: 300;
}

.loadmore svg {
  margin: 0 auto;
  display: block;
  fill: #585858;
  width: 46px;
  height: 46px;
}

@media (max-width: 780px) {
  .loadmore {
    margin: 0;
  }
}

#results-container {
  font-weight: 500;
  margin-bottom: 2em;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.secondary_btn {
  display: inline-block;
  margin: 0 0.5em 2.5em 0;
  padding: 0.8em 1.3em;
  background-color: HSL(300, 5%, 95%);
  border-color: #ddd;
  color: #585858;
  font-weight: 500;
  font-size: .9em;
}

@media (max-width: 780px) {
  .secondary_btn {
    padding: 0.4em 0.9em;
    margin: 0 0.2em 1em 0;
  }
}

.sucheInput {
  text-align: center;
}

.sucheInput svg {
  width: 18px;
  fill: #b4b4b4;
  -webkit-transform: translate(-26px, 4px);
  -ms-transform: translate(-26px, 4px);
  transform: translate(-26px, 4px);
}

#search-input {
  padding: .3em;
  border-width: 0px;
  border: none;
  background: white;
  border-bottom: 3px solid #1af;
  font-size: 1.1em;
  color: #44bcff;
  display: inline-block;
  width: 350px;
  max-width: 90%;
  margin: 0 auto;
}

#searchWrapper {
  display: none;
}

.wrap-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.progressBar--wrapper {
  width: 90%;
  margin: 0 auto;
}

#progressBar {
  width: 5%;
  height: 5px;
  margin-top: 10px;
  background: #44bcff;
  display: none;
  -webkit-transition: 100ms;
  transition: 100ms;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}

#loading {
  display: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  padding: 50vh 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255,255,255,0.85);
}

.spinner {
  margin: 2em auto;
  text-align: center;
  width: 45px;
  height: 45px;
  border-top: 2px solid #44bcff;
  border-bottom: 2px solid #44bcff;
  border-right: 2px solid rgba(255,255,255,0);
  border-left: 2px solid rgba(255,255,255,0);
  border-radius: 50%;
  -webkit-animation: loadspin 1.7s infinite;
  animation: loadspin 1.7s infinite;
}

#loadmoreajax {
  display: none;
}