---
layout: default
randomHeader: true
---
<span id="kategorieSeite" data-cat="alle"></span>
<div class="width--wrapper" id="post--list__container">
  {% include slider.html %}
  <h2>Die neuesten Beiträge</h2>
  <ul class="post--list" id="indexContainer"></ul>
  <noscript>
 Um den vollen Funktionsumfang dieser Webseite zu erfahren, benötigen Sie JavaScript.
 Eine Anleitung wie Sie JavaScript in Ihrem Browser einschalten, befindet sich
 <a href="http://www.enable-javascript.com/de/" target="_blank">hier</a>.
</noscript>
  {% include loadmore.html category="index" %}
</div>
