<div class="modal js-modal-kontakt">Danke für deine Nachricht!</div>
<div class="askGlossboss">
  <div class="askGlossboss-inner">
    <p><h3>Du fragst, wir antworten.</h3></p>
    <p>Jeder hat mal klein angefangen - zögere nicht uns deine Fragen zum Thema Autopflege zu stellen!</p>
    <p>&nbsp;</p>
    <p>Wenn du direkt mit einem Glossboss in Kontakt treten möchtest (z.B. zwecks einer Aufbereitung, oder etwas organisatorisches) schreibe ihn direkt an <a href="/glossbosse/">Übersicht aller Glossbosse</a>.</p>
    <form id="askGlossboss-Form" name="askGlossboss" action="/" netlify netlify-honeypot="message">
      <p><input type="text" name="message" id="askGlossboss-message" class="askGlossboss-message"></p>
      <p>
        <label for="askGlossboss-Name">
          <input placeholder="Dein Name" name="Name" type="text" />
        </label>
      </p>
      <p>
        <label for="askGlossboss-Email">
          <input placeholder="Deine eMail" name="Email" type="email" />
        </label>
      </p>
      <p>
        <label for="askGlossboss-Frage">
          <textarea name="Frage" placeholder="Deine Frage"></textarea>
        </label>
      </p>
      <p><a id="askGlossboss-Submit" name="askGlossboss-Submit" class="primary_btn" role="button">Ich will mehr wissen!</a></p>
    </form>
  </div>
</div>