<div class="askGlossbossToggle">Fragen</div>
<div class="askGlossboss">
  <div class="askGlossboss-inner">
    <p><h3>Du fragst, wir antworten.</h3></p>
    <p>Jeder hat mal klein angefangen - zögere nicht uns deine Fragen zum Thema Autopflege zu stellen!</p>
    <form id="askGlossboss-Form" name="askGlossboss" action="/" netlify netlify-honeypot="askGlossboss-message">
      <p><input type="text" name="askGlossboss-message" id="askGlossboss-message" class="askGlossboss-message"></p>
      <p>
        <label for="askGlossboss-Name">
          <input placeholder="Dein Name" name="Name" type="text" required />
        </label>
      </p>
      <p>
        <label for="askGlossboss-Email">
          <input placeholder="Deine eMail" name="Email" type="email" required />
        </label>
      </p>
      <p>
        <label for="askGlossboss-Frage">
          <textarea name="Frage" placeholder="Deine Frage"></textarea>
        </label>
      </p>
      <p><a id="askGlossboss-Submit" name="askGlossboss-Submit" class="primary_btn">Ich will mehr wissen!</a></p>
    </form>
  </div>
</div>