{% assign get_autor = include.autor %}
{% for authors in site.data.glossbosse %}
  {% if authors.name == get_autor %}
    {% assign autor = authors %}
  {% endif %}
{% endfor %}

{% if autor.bio and autor.active == true %}
  <div class="autor-box">
  {% if autor.img %}
    <img src="{{autor.img}}" alt="{{autor.name}}" class="autor-box-img"/>
  {% else %}
    <img src="https://glossbossimages.s3.eu-central-1.amazonaws.com/default_avatar.png" alt="" class="autor-box-img" />
  {% endif %}
    <h3 class="autor-box-title">Über den Autor: {{ autor.name }}</h3>
    <div class="autor-box-bio">
      <p>{{autor.bio}}</p>
      <hr />
      {% unless include.autor_page %}
        <ul class="autor-box-moreposts" data-author="{{ autor.name }}">
          <p><h4>Mehr Beiträge von {{autor.name}}</h4></p>
        </ul>
        <hr />
      {% endunless %}
      <p>
        {% if autor.mail %}
          Kontakt: <a href="mailto:{{autor.mail}}">{{autor.mail}}</a>
        {% endif %}
        {% if autor.website %}
          - <a href="{{autor.website}}">{{autor.website}}</a>
        {% endif %}
        {% if autor.facebook %}
          - <a href="{{autor.facebook}}">{% if autor.facebook_display_name %}{{autor.facebook_display_name}}{% else %}{{autor.name}}{% endif %} auf Facebook</a>
        {% endif %}
      </p>
    </div>

  </div>
{% endif %}