<div class="wrap-modal"></div>
<footer>
  <div class="width--wrapper">
  <div class="scroll-top">
    {% include svg/scroll_top.svg %}
  </div>
    <ul class="footlist footpadding">
      <li><a href="/kontakt" id="kontaktToggle">Kontakt</a></li>
      <li><a href="/blog-abonnieren">Blog Abonnieren</a></li>
      <li><a href="/mischungsrechner">Mischungsrechner</a></li>
      <li><a href="/#suche">Suche</a></li>
    </ul>
    <h5><a href="/impressum">Impressum & Datenschutzhinweise</a></h5>
    <div class="footer__social">
      <a href="https://www.instagram.com/glossbossblog/" target="_blank">
        {% include svg/instagram.svg %}
      </a>
      <a href="http://facebook.com/glossbossblog/" target="_blank">
        {% include svg/facebook.svg %}
      </a>
      <a href="https://www.youtube.com/user/glossbossblog" target="_blank">
        {% include svg/youtube.svg %}
      </a>
      <a href="mailto:mmieth+glossboss@gmail.com">
        {% include svg/mail.svg %}
      </a>
    </div>
  </div>
</footer>
<script async src="/dist/global.js?v={{site.version}}"></script>
<noscript>
  <style>
    #toggleMenu:checked ~ .linklist {
      display: block !important;
    }
    @media (max-width: 46.87em) {
      .linklist {
        display:none;
      }
    }
  </style>
</noscript>
