<div class="wrap-modal"></div>
<footer>
  <div class="width--wrapper">
  <div class="scroll-top">
    {% include svg/scroll_top.svg %}
  </div>
    <ul class="footlist footpadding">
      <li><a href="mailto:mmieth+glossboss@gmail.com" target="_blank">Kontakt</a></li>
      <li><a href="/blog-abonnieren">Blog Abonnieren</a></li>
      <li><a href="/mischungsrechner">Mischungsrechner</a></li>
      <li><a href="/#suche">Suche</a></li>
    </ul>
    <h5><a href="/impressum">Impressum & Datenschutzhinweise</a></h5>
    <div class="footer__social">
      <a href="https://www.instagram.com/glossbossblog/" target="_blank">
        {% include svg/instagram.svg %}
      </a>
      <a href="http://facebook.com/glossbossblog/" target="_blank">
        {% include svg/facebook.svg %}
      </a>
      <a href="https://www.youtube.com/user/glossbossblog" target="_blank">
        {% include svg/youtube.svg %}
      </a>
      <a href="mailto:mmieth+glossboss@gmail.com">
        {% include svg/mail.svg %}
      </a>
    </div>
  </div>
</footer>
<script>
  var postJSONCache = '/posts.json?v={{site.postversion}}';
  var randomHeader = {%  if page.randomHeader %}true{% else %}false{% endif %},headerGradient = '{{site.headimggradient}}';
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-52307693-1', 'auto');ga('send', 'pageview');
  var ItseMeIndex;
</script>
<script async src="/dist/global.js?v={{site.version}}"></script>
