{% include svg/arrow-down.svg %}
  <div class="header-menu">
    <div class="width--wrapper">
  <ul role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <li><a href="/">Startseite</a></li>
    <li><a href="#">Kategorien <svg><use xlink:href="#arrow-down"></use></svg></a>
      <ul>
        <li itemprop="name"><a itemprop="url" href="/allgemein">Allgemein</a></li>
        <li itemprop="name"><a itemprop="url" href="/pflegeberichte">Pflegeberichte</a></li>
        <li itemprop="name"><a itemprop="url" href="/produkttest">Produkttest</a></li>
        <li itemprop="name"><a itemprop="url" href="/anleitungen">Anleitungen</a></li>
      </ul>
    </li>
    <li><a href="#">Sonstiges <svg><use xlink:href="#arrow-down"></use></svg></a>
      <ul>
        <li itemprop="name"><a itemprop="url" href="/mischungsrechner">Mischungsrechner</a></li>
        <li itemprop="name"><a itemprop="url" href="/blog-abonnieren">Blog Abonnieren</a></li>
        <li itemprop="name"><a itemprop="url" href="/ueber-uns">Über uns</a></li>
        <li itemprop="name"><a itemprop="url" href="/impressum">Impressum</a></li>
      </ul>
    </li>
    <li><a href="#">Glossbosse <svg><use xlink:href="#arrow-down"></use></svg></a>
      <ul>
        <li><a href="/glossbosse/marvin">Marvin</a></li>
        <li><a href="/glossbosse/jones">Jones</a></li>
        <li><a href="/glossbosse/ronny">Ronny</a></li>
        <li><a href="/glossbosse/chris">Chris</a></li>
        <li><a href="/glossbosse/rene">René</a></li>
        <li><a href="/glossbosse/alex">Alex</a></li>
        <li><a href="/glossbosse/boerge">Börge</a></li>
        <li><a href="/glossbosse/sven">Sven</a></li>
        <li><a href="/glossbosse/ralf">Ralf</a></li>
      </ul>
    </li>
    <li>
        <form action="/suche" id="search_form">
          <input type="text" id="search_input_nav" placeholder="Suchen..." required/>
        </form>
    </li>
  </ul>
</div>
</div>