<header class="header__main">
  <div class="width--wrapper">
    <div class="post--title" id="post--title">
      {% if page.title == nil %}
      <a href="http://glossboss.de" alt="Glossboss.de - Startseite"><h1> Glossboss.de - <small>dein Autopflege Blog</small></h1></a>
      {% else %}
      <a href="{{ page.url | replace:'index.html','' | prepend: site.url }}"><h1>{{ page.title }} <small>{{ page.subtitle }}</small></h1></a>
      <h4>
        {{ page.date | date: '%-d.%m.%Y' }}
        {% if page.author %} von {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      </h4>
      {% endif %}
    </div>
  </div>
  <a href="https://glossboss.de/">
    {% include svg/G.svg %}
  </a>
</header>
<a href="#" role="button" tabindex="0" class="header__extend" id="mainnav">
  {% include svg/menutoggle.svg %}
</a>
{% include head_navigation.html %}
<div style="display: none" class="cookies-hinweis">
  Glossboss.de verwendet Cookies. Mit der weiteren Nutzung dieser Website stimmst du der Verwendung von Cookies zu. <p>Erfahre mehr in den <a href="/impressum">Datenschutzhinweisen</a> <span class="secondary_btn" id="cookies_acc">&#10006;</span></p>
</div>
<div id="loading">
  <div class="spinner"></div>
  wird geladen ...
</div>
<div class="overlay"></div>
