<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} - {{ page.subtitle }} {% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.title %}{{ page.title }} - {{ page.subtitle }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ page.author }}">
    {% if page.title == 'Mischungsrechner' %}<meta name="apple-itunes-app" content="app-id=1047583962">{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="stylesheet" href="/dist/layout.css?v={{site.css_version}}">
    <style id="header-style">
    header {
			background: {{site.headimggradient}}, url('{% if page.head__img %}{{ site.url }}{{ page.head__img }}{% else %}{{ page.header_image }}{% endif %}') center 50% no-repeat;
			background-size:cover;
		}
	</style>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <meta property="og:image" content="{% if page.head__img %}{{ site.url }}{{ page.head__img }}{% else %}{{ page.header_image }}{% endif %}">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
