<ul class="linklist" id="linklist">
<li class="canHideSmaller"><a href="/kontakt" id="kontaktToggle">Kontakt</a></li>
	<li class="canHide"><a href="/blog-abonnieren">Blog Abonnieren</a></li>
<li>
<select name='kategorie' class="kategorie--select">
	<option value="">Kategorien ...</option>
  <option value='#allgemein'>Allgemein</option>
  <option value='#anleitungen'>Anleitungen</option>
  <option value='#pflegeberichte'>Pflegeberichte</option>
	<option value='#tipps-tricks'>Tipps-Tricks</option>
	<option value='#produkttest'>Produkttest</option>
</select>	
</li>
<li class="canHide"><a href="/mischungsrechner">Mischungsrechner</a></li>
	<li class="canHideSmaller"><a href="/#suche">Suche</a></li>
</ul>
