{% capture postTitle %}{{page.title}} - {{page.subtitle}}{% endcapture %}
{% capture breadcrumb %}{{ page.categories[0] | downcase }}{% endcapture %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{postTitle}}",
  "name": "{{postTitle}}",
  "creator": "{{  page.author }}",
  "image": [
    "{{ page.head__img--fullurl }}"
  ],
  "datePublished": "{{ page.date }}",
  "keywords": "{{ breadcrumb | capitalize }}"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": {
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "https://glossboss.de/{{ breadcrumb | prepend: '#' }}",
      "name": "{{ breadcrumb | capitalize }}"
    }
  }
}
</script>