
  <nav id="sidemenu" class="slidemenu " role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul>
      <li><h2>Kategorien</h2></li>
      <li itemprop="name"><a tabindex="0" itemprop="url" href="/allgemein/">Allgemein</a></li>
      <li itemprop="name"><a itemprop="url" href="/anleitungen/">Anleitungen</a></li>
      <li itemprop="name"><a itemprop="url" href="/pflegeberichte/">Pflegeberichte</a></li>
      <li itemprop="name"><a itemprop="url" href="/produkttest/">Produkttest</a></li>
      <li><hr /></li>
      <li><h2>Apps</h2></li>
      <li itemprop="name"><a itemprop="url" href="/mischungsrechner/">Mischungsrechner</a></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.glossboss.mischungsrechner&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1" target="_blank" aria-label="Mischungsrechner App im Google PlayStore">
        <img alt="Get it on Google Play" src="https://glossbossimages.s3.eu-central-1.amazonaws.com/de-play-badge.png" style="width: 135px" />
      </a></li>
      <li><a href="https://itunes.apple.com/de/app/mischungsrechner-berechne/id1047583962" target="_blank" aria-label="Mischungsrechner App im iTunes Store">
        {% include svg/ios-appstore.svg %}
      </a></li>
      <li><hr /></li>
      <li><h2>Sonstiges</h2></li>
      <!-- <li itemprop="name"><a itemprop="url" href="/spenden/">Spenden</a></li> -->
      <li itemprop="name"><a itemprop="url" href="/blog-abonnieren/">Blog Abonnieren</a></li>
      <li><a href="/suche/">Suche</a></li>
      <li><a href="mailto:mmieth+glossboss@gmail.com" target="_blank">Kontakt</a></li>
      <li itemprop="name"><a itemprop="url" href="/impressum/">Impressum</a></li>
      <li itemprop="name"><a itemprop="url" href="/ueber-uns/">Über Uns</a></li>
      <li><hr /></li>
      <li><h2>Glossbosse</h2></li>
      <li><a href="/glossbosse/marvin">Marvin</a></li>
      <li><a href="/glossbosse/jones">Jones</a></li>
      <li><a href="/glossbosse/ronny">Ronny</a></li>
      <li><a href="/glossbosse/chris">Chris</a></li>
      <li><a href="/glossbosse/rene">René</a></li>
      <li><a href="/glossbosse/alex">Alex</a></li>
      <li><a href="/glossbosse/boerge">Börge</a></li>
      <li><a href="/glossbosse/ralf">Ralf</a></li>
      <li><a href="/glossbosse/sven">Sven</a></li>
    </ul>
    <div class="js-close-sidemenu">&times;</div>
  </nav>
<!-- </div> -->













