<div class="slidemenu">
  <div class="menucontent">
    <h1>Kategorien</h1>
    <a href="/#allgemein" class="closeSlideMenuOnClick">Allgemein</a>
    <a href="/#anleitungen" class="closeSlideMenuOnClick">Anleitungen</a>
    <a href="/#pflegeberichte" class="closeSlideMenuOnClick">Pflegeberichte</a>
    <a href="/#produkttest" class="closeSlideMenuOnClick">Produkttest</a>
    <hr />
    <h1>Apps</h1>
    <a href="/mischungsrechner">Mischungsrechner</a>
    <a href="https://play.google.com/store/apps/details?id=com.glossboss.mischungsrechner&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1" target="_blank">
      <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/de-play-badge.png" style="width: 135px" />
    </a>
    <a href="https://itunes.apple.com/de/app/mischungsrechner-berechne/id1047583962" target="_blank">
      {% include svg/ios-appstore.svg %}
    </a>
    <hr />
    <h1>Sonstiges</h1>
    <a href="/spenden">Spenden</a>
    <a href="/blog-abonnieren">Blog Abonnieren</a>
    <a href="/#suche" class="closeSlideMenuOnClick">Suche</a>
    <a href="mailto:mmieth+glossboss@gmail.com" target="_blank">Kontakt</a>
    <a href="/impressum">Impressum</a>
  </div>
</div>