<div class="slider displayNone">
	{% for sliderItem in site.data.slider-items %}
		<img class="js-slider-images" src="{{sliderItem.img}}" style="display: none;" alt="" data-url="{{sliderItem.url}}">
	{% endfor %}
	<div class="slider-item">
		<a href="#" id="slider-item-a"><img src="" alt="" id="slider-item-img" /></a>
	</div>
	<a href="#" class="slider-btns prev js-slide-prev">
		<svg viewBox="0 0 50 80" xml:space="preserve">
			<polyline fill="none" stroke-linecap="round" stroke-linejoin="round" points="
	45.63,75.8 0.375,38.087 45.63,0.375 " />
		</svg>
	</a>
	<a href="#" class="slider-btns next js-slide-next">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 80" xml:space="preserve">
			<polyline fill="none" stroke-linecap="round" stroke-linejoin="round" points="
	0.375,0.375 45.63,38.087 0.375,75.8 " />
		</svg>
	</a>
	<div class="slider-position-marks"></div>
</div>