<div class="slidemenu">
  <nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement" class="menucontent">
    <ul>
      <li><h1>Kategorien</h1></li>
      <li itemprop="name"><a itemprop="url" href="/allgemein/">Allgemein</a></li>
      <li itemprop="name"><a itemprop="url" href="/anleitungen/">Anleitungen</a></li>
      <li itemprop="name"><a itemprop="url" href="/pflegeberichte/">Pflegeberichte</a></li>
      <li itemprop="name"><a itemprop="url" href="/produkttest/">Produkttest</a></li>
      <li><hr /></li>
      <li><h1>Apps</h1></li>
      <li itemprop="name"><a itemprop="url" href="/mischungsrechner/">Mischungsrechner</a></li>
      <li><a href="https://play.google.com/store/apps/details?id=com.glossboss.mischungsrechner&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1" target="_blank">
        <img alt="Get it on Google Play" src="https://glossbossimages.s3.eu-central-1.amazonaws.com/de-play-badge.png" style="width: 135px" />
      </a></li>
      <li><a href="https://itunes.apple.com/de/app/mischungsrechner-berechne/id1047583962" target="_blank">
        {% include svg/ios-appstore.svg %}
      </a></li>
      <li><hr /></li>
      <li><h1>Sonstiges</h1></li>
      <!-- <li itemprop="name"><a itemprop="url" href="/spenden/">Spenden</a></li> -->
      <li itemprop="name"><a itemprop="url" href="/blog-abonnieren/">Blog Abonnieren</a></li>
      <li><a href="/suche/">Suche</a></li>
      <li><a href="mailto:mmieth+glossboss@gmail.com" target="_blank">Kontakt</a></li>
      <li itemprop="name"><a itemprop="url" href="/impressum/">Impressum</a></li>
    </ul>
  </nav>
</div>