%simplelink {
  color: $blau;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
// .slider {
// 	width: 100%;
// 	padding: 20px 60px;
// 	background: $gray;
// 	margin: 0 auto 150px;
//   position: relative;
//   @media #{$sm} {
//     padding: 20px;
//     margin-bottom: 50px;
//   }
//   &:hover .slider-btns {
//     opacity: .4;
//   }
//   &:hover {
//     background: $gray_hover;
//   }
//   &-position-marks {
//     text-align: center;
//     span {
//       display: inline-block;
//       margin: 20px 10px 0px;
//       width: 7px;
//       height: 7px;
//       border-radius: 7px;
//       background: #585858;
//       transition: 250ms;
//       &.active {
//         background: $blau;
//       }
//     }
//   }
//   &-btns {
//     position: absolute;
//     top: 50%;
//     left: 0;
//     height: 50px;
//     width: 60px;
//     background: black;
//     opacity: 0;
//     transition: 250ms;
//     transform: translate(60px, -50%);
//     @media #{$sm} {
//       transform: translate(10px, -50%);
//
//     }
//     &.next {
//       transform: translate(-60px, -50%);
//       left: auto;
//       right: 0;
//       @media #{$sm} {
//         transform: translate(-10px, -50%);
//       }
//     }
//     svg {
//       width: 60px;
//       height: 35px;
//       margin-top: 7px;
//     }
//     polyline {
//       stroke: white;
//       stroke-width: 4;
//       transition: 250ms;
//     }
//     &:hover {
//       opacity: .7;
//       polyline {
//         stroke-width:8;
//         stroke: $blau;
//       }
//     }
//   }
// 	&-item {
// 		max-width: 100%;
// 		img {
// 			display: block;
// 			max-width: 100%;
//       margin: 0 auto;
// 		}
// 	}
// }
.aufbereitung-durch-uns {
  display: block;
  background: $gray;
  padding: 20px;
  margin-bottom: 25px;
  text-align: center;
  a {
    color: $blau;
  }
}
.breadcrumb {
  font-size: 13px;
  margin-bottom: 40px;
  a {
    @extend %simplelink;
  }
  .breadcrumb-final {
    color: $text-content;
    text-decoration: none;
  }
}
.app-banner {
  margin: 20px 0;

  img {
    width: 100%;
    max-width: 135px;
  }

  svg {
    transform: translateY(-2px);
    width: 100%;
    max-width: 135px;
  }
}

.autor-box {
  background-color: $gray;
  padding: 20px;

  &-moreposts {
    list-style: none;

    li {
      margin: 10px 0;
    }
  }

  &-img {
    float: left;
    max-width: 75px;
    max-height: 75px;
    margin: 0 15px 5px 0;
    border-radius: 3px;
  }

  &-bio {
    line-height: 25px;

    strong {
      font-size: 18px;
    }

    a {
      @extend %simplelink;
    }
  }

  &-title {
    margin-bottom: 10px;
  }

  hr {
    margin: 13px 0;
    height: 2px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}

table {
  margin: 0 auto;
  width: 75%;

  thead {
    color: #fff;
    background: $blau;
  }

  tbody {
    background: #f5f5f5;
  }
}

.cookies-hinweis {
  @include font(special);
  width: 100%;
  text-align: center;
  font-size: 15px;
  display: none;
  z-index: 2;
  background-color: $gray;
  position: fixed;
  top: 0;
  padding: 15px;

  a {
    @extend %simplelink;
  }
}

#cookies_acc {
  margin: 10px;
}

.width--wrapper {
  width: 80%;
  margin: 0 auto;

  @media #{$sm} {
    width: 93%;
  }

  @media #{$lg-min} {
    width: 1200px;
    max-width: 1200px;
  }
}

.content--video {
  margin: 5em 0;
  width: 1000px;
  height: 600px;
  max-width: 100%;
  @media #{$sm} {
    height: 300px;
  }
}

#post--list__container {
  transition: 0.15s;
  margin-bottom: 6em;
}

.post--list__content {
  padding: 15px;
}

// .post--listAA,
// #results-containerAA {
//   .post--img {
//     img {
//       width: 100%;
//     }
//     width: 100%;
//     height: 11em;
//     overflow: hidden;
//     transition: .15s cubic-bezier(.55, 0, .1, 1);
//   }
//   @include font(special);
//   margin-bottom: 2em;
//   list-style: none;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   transform: translate3d(0,0,0);
//   .postsListItem {
//
//   }
//   .video-btn {
//     fill: $gray;
//     display: block;
//     opacity: .3;
//     transition: 300ms ease-in-out;
//     top: 50%;
//     transform: translateY(-50%);
//     margin: 0 auto;
//     position: relative;
//   }
//   li {
//     &:hover .post--datum {
//       color: $text;
//     }
//     &:hover .post--title__a .post--subtitle {
//       color: $text;
//     }
//     &:hover .post--img {
//       .video-btn {
//         opacity: .7;
//         fill: $blau;
//       }
//       transition: .75s;
//       transform: scale(1.07);
//     }
//     background: $gray;
//     // margin: 1em;
//     padding: 1.5em;
//     border: 1px solid white;
//     align-self: stretch;
//     flex: 1 0 360px;
//     transition: 300ms ease-in-out;
//     @media #{$lg-min} {
//       flex: 1 0 30%;
//     }
//
//     @media #{$sm} {
//       margin: 1em 0;
//       flex: 1 0 100%;
//     }
//
//     &:hover {
//       background: $gray_hover;
//       //@include materialShadow(2);
//     }
//   }
//
//   a {
//     overflow: hidden;
//     transition: 120ms;
//     display: block;
//     color: $blau;
//     text-decoration: none;
//     .post--datum, .post--category {
//       color: $text-disabled;
//       display: block;
//       @media #{$sm} {
//         float: none;
//       }
//       width: auto;
//       line-height: 2.5em;
//       transition: 120ms;
//     }
//     .post--category {
//       float: right;
//     }
//     .post--meta {
//       color: $text;
//       padding: 0;
//       margin-bottom: -1em;
//       display: block;
//       font-size: .8em;
//       opacity: 0;
//       padding-top: 2em;
//       @media #{$sm} {
//         font-size: .7em;
//       }
//       transition: 120ms;
//     }
//
//     .post--title__a {
//       color: $blau;
//       font-size: 1.8em;
//       @include font(normalOS);
//
//       @media #{$md} {
//         font-size: 1.7em;
//       }
//     }
//
//     .post--subtitle {
//       font-size: .6em;
//       color: $text-disabled;
//       display: block;
//       margin-top: 1em;
//       transition: 120ms;
//     }
//
//   //ALT
//   }
// }
.page-description {
  margin: 50px 0;
}
.post--content {
  @include font(normal);
  line-height: 1.8em;
  margin-bottom: 5em;

  img {
    max-width: 100%;
    padding: 1.5em 0;
    //cursor:zoom-in;
    display: block;
  }

  a {
    @extend %simplelink;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 1em 0 0.5em;
    letter-spacing: 2px;
    color: $text-disabled;
    small {
      @include font(light);
    }
  }

  ul {
    padding: 1em 0 2em 1.8em;
  }

  p {
    margin: 1.5em 0;
    color: $text-content;
  }
}

.post--sharing {
  margin: 5em 0;
  @include font(special);

  %scaletrans {
    transform: scale(0.9);
  }

  %share--button {
    text-align: center;
    display: inline-block;
    line-height: 2.5em;
    width: 6em;
    margin: 0.5em 1em 0 0;
    text-decoration: none;
    color: $white;
    transition: 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    @include materialShadow(2);
  }

  .share--facebook {
    @extend %share--button;
    background: #3b5998;

    &:hover {
      @include materialShadow(1);
      background: lighten(#3b5998, 10);
    }
  }

  .share--twitter {
    @extend %share--button;
    background: #55acee;

    &:hover {
      @include materialShadow(1);
      background: lighten(#55acee, 10);
    }
  }

  .share--gplus {
    @extend %share--button;
    background: #dd4b39;

    &:hover {
      @include materialShadow(1);
      background: lighten(#dd4b39, 10);
    }
  }

  .share--whatsapp {
    @extend %share--button;
    background: #4dc247;
    display: none;

    &:hover {
      background: lighten(#4dc247, 10);
      @include materialShadow(1);
    }
  }
}

.page-heading {
  @include font(light);
  margin: 0.7em 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 8px solid $blau;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
