footer {
  // background-color: $blau;
  background: $green-blue-gradient-tl;
  @include font(light);
  text-align: center;
  text-shadow: 1px 1px 3px rgba(black, 0.2);
  a {
    color: white;
    text-decoration: none;
  }
  h5 {
    margin: 1em 0 2em;
  }
}

.scroll-top {
  cursor: pointer;
  width: 45px;
  height: 35px;
  background: white;
  transform: translate(0, -5px);
  border-radius: 5px;
  transition: 100ms;

  #scroll-top--icon {
    fill: $blau;
    width: 35px;
    height: 31px;
  }

  &:hover {
    transform: translate(0, -12px);
  }
}

.footpadding {
  padding: 2em 0;
}

.footlist {
  list-style: none;
  opacity: 1;
  font-size: 1em;
  overflow: hidden;
  transition: 0.25s;
  text-align: center;
  @include font(normalOS);

  @media #{$md-min} {
    font-size: 1.3em;
  }

  li {
    overflow: hidden;
    margin-right: 1.5em;
    display: inline-block;
    line-height: 1.5em;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: mix(black, white, 5);

      @media #{$min-sm} {
        &:hover {
          color: $text;
        }
      }
    }

    @media #{$sm} {
      display: inline-block;

      li {
        display: inline-block;
      }
    }
  }
}

.footer__social {
  padding: 2em 0;

  svg {
    width: 45px;
    fill: white;
    margin-right: 1em;

    &:hover {
      transition: 0.15s cubic-bezier(0.55, 0, 0.1, 1);
      transform: scale(1.2);
    }
  }

  .googleplus {
    &:hover {
      fill: #dd4b39;
    }
  }

  .facebook {
    &:hover {
      fill: #3b5998;
    }
  }

  .instagram {
    &:hover {
      fill: #3f729b;
    }
  }

  .mailicon {
    &:hover {
      fill: black;
    }
  }

  .youtube {
    &:hover {
      fill: #cd201f;
    }
  }
}
.loadmore {
  display: none;
  text-align: center;
  padding: 1em;
  // margin: 3em 1em;
  cursor: pointer;
  background: $gray;
  transition: 0.15s cubic-bezier(0.55, 0, 0.1, 1);
  color: $text;
  @include font(light);
  svg {
    margin: 0 auto;
    display: block;
    fill: $blau;
    width: 46px;
    height: 46px;
  }
  &:hover {
    background: $gray_hover;
  }
  @media #{$sm} {
    margin: 0;
  }
}
