// .askGlossbossToggle {
//   z-index: 3;
//   cursor: pointer;
//   text-indent: 90000px;
//   width: 65px;
//   height: 65px;
//   border-radius: 100%;
//   background: $blau;
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   color: white;
//   transition: all 250ms ease-out;
//   @include materialShadow(1);
//   background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjY0cHgiIGhlaWdodD0iNjRweCI+CiAgPGc+CiAgICA8cGF0aCBkPSJtMTQsMjJoLTJjLTAuNiwwLTEsMC40LTEsMXYyYzAsMC42IDAuNCwxIDEsMWgyYzAuNiwwIDEtMC40IDEtMXYtMmMwLTAuNi0wLjQtMS0xLTF6IiBmaWxsPSIjRkZGRkZGIi8+CiAgICA8cGF0aCBkPSJNMTMsMEM4LDAsNCw0LDQsOWMwLDAuNSwwLDEsMC4xLDEuNWMwLjEsMC42LDAuNywwLjksMS4zLDAuOGwxLjktMC42YzAuNS0wLjEsMC44LTAuNiwwLjctMS4xQzgsOS40LDgsOS4yLDgsOSAgIGMwLTIuOCwyLjItNSw1LTVzNSwyLjIsNSw1YzAsMS43LTEsMi41LTIuOCw0Yy0xLjcsMS40LTMuNywzLTQuMiw1LjljLTAuMSwwLjYsMC40LDEuMSwxLDEuMWgyYzAuNSwwLDAuOS0wLjMsMS0wLjggICBjMC4zLTEuMiwxLjItMiwyLjctMy4xQzE5LjYsMTQuNiwyMiwxMi43LDIyLDlDMjIsNCwxOCwwLDEzLDB6IiBmaWxsPSIjRkZGRkZGIi8+CiAgPC9nPgo8L3N2Zz4K) center center no-repeat $blau;
//   background-size: 30px;
//   &:hover {
//     @include materialShadow(2);
//   }
//   @media #{$sm} {
//     width: 50px;
//     height: 50px;
//     background-size: 23px;
//   }
//   &.open {
//     border-radius: 0 100% 100%;
//     background: $gray;
//     color: $text;
//     transform: rotate(45deg);
//     background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAYAAACohjseAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANBJREFUeNrs2zEKwkAQheHsFmltBO+W2tZL6Fls1INJtBCxS3B9IVNI+p3A8A882K2GL7sQmJBUSmkca6Mk5eXVMDvi9spDeSoHr6bJ8QTvys7WbzvNUMBloxTtiq5SAAECBAgQIECAAAECBAgQIECAAAFWAbbKWRmbebRXK8uq2Ws0UzvNRTvbRKwuB7+mecJdlKsyBIINZroxuuc1ARAgQIAAAQIECBAgQIAAAQIECBDgisD+b/2JCDw28zeDr3LyapqcfyvY2kPtvRr+BBgAr3dW/fZtoWAAAAAASUVORK5CYII=) center center no-repeat mix($blau, white, 30);
//     background-size: 30px;
//   }
// }
// .askGlossboss {
//   // z-index: 3;
//   // display: none;
//   // position: fixed;
//   // bottom: 120px;
//   // right: 20px;
//   // width: 90%;
//   // max-width: 500px;
//   // max-height: 90%;
//   // background: white;
//   // box-shadow: 0 0 1px rgba(76,86,103,.25),0 2px 18px rgba(31,37,50,.32);
//   // @media #{$sm} {
//   //   bottom: 95px;
//   //   right: 0;
//   //   width: 100%;
//   //   font-size: 13px;
//   // }
//   // &-inner {
//   //   margin: 0 auto;
//   //   padding: 15px 20px;
//   // }
//   // input:nth-child(1) {
//   //   margin-top: 15px;
//   // }
//   .btn-disabled {
//     cursor: default;
//     background-image: none;
//     opacity: 0.65;
//     box-shadow: none;
//     color: #333;
//     background-color: #E6E6E6;
//     pointer-events: none;
// }
//   input, textarea {
//     &.formerror {
//       border-color: red;
//     }
//     background: 0 0;
//     border: 1px solid #d9d9d9;
//     border-radius: 0;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     color: #333;
//     display: block;
//     font-size: 12px;
//     font-weight: 400;
//     height: 36px;
//     line-height: 16px;
//     padding: 4px 12px;
//     width: 100%;
//     margin-bottom: 12px;
//     &:focus {
//       border-color: $blau;
//     }
//   }
//   textarea {
//     height: 116px;
//     line-height: 22px;
//     padding: 8px 12px;
//     resize: none;
//     @media #{$sm} {
//       height: 80px;
//     }
//   }
//   &-message {
//     display: none !important;
//     opacity: 0;
//     visibility: hidden;
//   }
// 
// }
.radio--labels--btn {
  input[type="radio"] {
    display: none;
    margin: .6em;
  }

  input[type=radio] + label {
    @extend .secondary_btn;
    margin: 0 .5em .5em 0;
  }

  input[type=radio]:checked + label {
    background-image: none;
    background-color: $blau;
    color: white;
    @include materialShadow(1);

    &:hover {
      background-color: $blau;
    }
  }
}

.secondary_btn {
  display: inline-block;
  margin: 0 .5em 2.5em 0;
  padding: .8em 1.3em;
  background-color: HSL(300,5%,95%);
  border-color: #ddd;
  color: $text;
  @include font(special);
  font-size: .9em;

  &:hover {
    cursor: pointer;
    background: HSL(300,5%,93%);
  }

  @media #{$sm} {
    padding: .4em .9em;
    margin: 0 .2em 1em 0;
  }
}

a.primary_btn {
  @extend .secondary_btn;
  background-color: $blau;
  color: white;
  text-decoration: none;
  &:hover {
    background: darken($blau,10%);
  }
}

.selectGlossboss {
  margin-top: -2em;
}

.heading {
  @include font(light);
  font-size: 1.3em;
  margin-bottom: 1.5em;
}

.mc-field-group {
  input {
    padding: .3em;
    border-width: 0;
    border: none;
    background: white;
    border-bottom: 3px solid darken($blau,10%);
    font-size: 1.1em;
    color: $blau;
    display: block;
    width: 350px;
    max-width: 100%;
    margin: 2em 0;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  textarea {
    border: 3px solid $blau;
    padding: .3em;
    height: 250px;
    width: 350px;
    max-width: 100%;
    font-size: 1.1em;
  }
  @extend .radio--labels--btn;
}
//
// .kontakt__success {
//   color: $dunkelblau;
//   font-size: 2em;
//   @include font(special);
// }
//
// .kontakt__error {
//   @extend .kontakt__success;
//   color: red;
// }
//
// .formtrick {
//   display: none !important;
// }
//
// .form__error {
//   border: 3px solid red !important;
// }

#mischungsrechner {
  margin-bottom: 6em;

  input[type="number"] {
    padding: .7em;
    width: 4em;
    color: $blau;
    font-size: 1.3em;
    text-align: center;
  }
@extend .radio--labels--btn;
  h1 {
    @include font(special);
  }
  .mischung--radio {
    margin: 3em 0;
  }
  .mischung--heading {
    @extend .heading;
  }
  .mischung--heading__subtitle {
    @include font(light);
    font-size: 1.2em;
    margin: .5em 0;
  }
  .mischung--highlight {
    color: $blau;
  }
  #mischungResult {
    margin-top: .5em;
    display: none;
  }
}

.mischungenpredefined {
  @extend .secondary_btn;
}

#mc-embedded-subscribe {
  @extend .button;
  width: 350px;
  max-width: 100%;
}

input:focus {
  outline: none;
}

.sucheInput {
  text-align: center;
  margin-bottom: 50px;
  svg {
    width: 18px;
    fill: mix($text, white, 45);
    transform: translate(-26px,4px);

    &:hover {
      fill: mix($text, white, 25);
    }
  }
}

#search-box {
  padding: .3em;
  border-width: 0;
  border: none;
  background: white;
  border-bottom: 3px solid darken($blau,10%);
  font-size: 1.1em;
  color: $blau;
  display: inline-block;
  width: 300px;
  max-width: 90%;
  margin: 0 auto;

  &:focus {
    outline: none;
  }
}
.search-box-wrapper {
  margin: 50px;
  text-align: center;
}

#searchWrapper {
  display: none;
}