#logo-G {
  display: block;
  width: 128px;
  height: 128px;
  margin:0 auto;
  transform: translate(0, 50%);
  transition: .18s cubic-bezier(.55,0,.1,1);
  circle {
    transition: .18s cubic-bezier(.55,0,.1,1);
    stroke-width: 2px;
  }
  &:hover {
    transform: translate(0, 50%) scale(1.05);
  }
  &:hover circle {
    stroke-width: 25px;
    stroke: $blau;
  }
  @media #{$sm} {
    width: 96px;
    height: 96px;
  }
}

#fullpage {
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1), $transition_sidebar;
}


header {
  margin-bottom: 100px;
  color: white;
  height: auto;
  @include font(light);
  font-size: 1.9em;
  padding: 3em 0 0;
  box-shadow: 1px 0 6px 1px rgba(black, .4);

  @media #{$sm} {
    padding: 1.8em 0 0;
    font-size: 1.2em;
    margin-bottom: 75px;
  }

  @media #{$xs} {
    font-size: .8em;
    font-size: 4.7vmin;
  }
}

// .header--logo {
//   text-align: center;
//   margin: 3em auto;
//   transition: .15s cubic-bezier(.55,0,.1,1);
//
//   svg:hover {
//     transform: scale(1.1);
//   }
//
//   img,
//   svg {
//     transition: .15s cubic-bezier(.55,0,.1,1);
//     width: 360px;
//     max-width: 95%;
//   }
//
//   a {
//     text-decoration: none;
//   }
//
//   @media #{$sm} {
//     margin: 20px auto;
//   }
// }

.post--title {
  max-width: 100%;

  h4 {
    font-size: .6em;
    font-weight: 100;
    margin-bottom: 1em;
  }

  small {
    font-size: .7em;
    @include font(light);
  }

  a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 7px rgba(black,.3);

    &:hover {
      color: mix(white,black,95);
    }
  }
}