.header__extend {
  background: HSL(300, 5%, 95%);
  padding: 9px;
  height: 50px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  z-index: 3;
  text-align: center;
  width: 100px;
  margin: 40px auto 75px;

  @media #{$sm} {
    margin: 20px auto 35px;
  }
}