.linklist {
	list-style:none;
	opacity: 1;
	font-size:1em;
	overflow:hidden;
	transition:.25s;
	margin: 10px;
	@media #{$sm} {
		margin: 0;
	}
	@include font(normalOS);
	@media #{$md-min} {
	  font-size:1.3em;
	}
	li {
		margin-right:1.5em;
		display:inline-block;
		line-height:1.5em;
		text-transform: uppercase;
		a {
			text-decoration:none;
			//color:mix(black,white,5);
			color: $text;

			transition:.25s ease;
			@media #{$sm} {
				&:hover {
					border-bottom:4px solid $blau;
				}
			}
			@media #{$min-sm} {
				&:hover {
					color:$blau;
					&:after{
						height:2px;
						transform:translate(0,0);
					}
				}
				&:after {
				  content:'';
				  height:2px;
				  width:auto;
				  display:block;
				  background:$blau;
				  position:relative;
				  transition:.25s ease;
				  top:0;
				  transform:translate(0,30px);
				}
			}
		}
		@media #{$sm} {
			display:block;
			text-align:center;
			line-height:2em;
		}
	}
}
// .linklist {
//     @extend %linklist;
// }
.cat--active:after {
	transform:translate(0,0) !important;
}
.toggleMenue {
    display: none;
    @media #{$sm} {
        display:block;
        margin:.3em 0 0 .8em;
        height:30px;
    }
}
.header__extend {
    //background-color: mix(black,$blau,5);
    //background:#44bcff;
    background: HSL(300, 5%, 95%);
    //padding:0.6em 0.6em 0 0.6em;
    padding: 0.5px;
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,.2);
    @media #{$min-sm} {
        text-align:center;
        &:hover .submenu {
		height:40px;
		opacity:1;
	}
    }
    @media #{$sm} {
        text-align:left;
        padding:0.3em;
    }
    .submenu {
		opacity:0;
		//padding-top: 5px;
		height:0;
		transform: translate(0, 0);
		//transition: 120ms;
		font-size: 0.8em;
	}
}
%burger {
  height:5px;
  width:34px;
  background:$blau;
  content:'';
  left:0;
  position:relative;
  transition:.25s cubic-bezier(.55,0,.1,1);
}


ul.hamburger {
  list-style:none;
  display:block;
  li {
    @extend %burger;
    &:nth-child(1) {
      top:0;
    }
    &:nth-child(2) {
      top:5px;
    }
    &:nth-child(3) {
      top:10px;
    }
  }
}


.header__menu--icontoggle {
    width:32px;
    height:32px;
    fill:$blau;
    margin-left:1.8em;
    transition:.25s cubic-bezier(.55,0,.1,1);
}
#toggleMenu {
    display:none;
}
.rotate-toggle {
    transform: rotate(270deg);
}
.menuetext {
    font-size:1em;
    color:white;
    @include font(light);
    height:32px;
    position:absolute;
    transform:translate(10px,5px);
    display:none;
}
.nav-fixed {
    z-index:9998;
    top:0;
    left:0;
    width:100%;
    position: fixed;
    transition:.15s cubic-bezier(.55,0,.1,1);
    @media #{$min-sm} {
        opacity:.5;
    }
    @media #{$sm} {
        opacity:.9;
    }
    &:hover {
        opacity:1;
    }
}
