---
layout: cat_render
title: Allgemein
header_image: https://glossbossimages.s3.eu-central-1.amazonaws.com/headerimg/grundausstattungwaschen.jpg
desc: 'Hier werden immer wieder Berichte veröffentlich, die sich nicht klar kategorisieren lassen. Schaut einfach mal rein und erweitert Euer Autopflegewissen.'
---
<!-- <div class="width--wrapper" id="post--list__container">
  <ul class="post--list">
    {% for post in site.categories.allgemein %}
      {% include postDB_RAW.html %}
    {% endfor %}
  </ul>
</div> -->
