---
layout: default
---
{% include schema.org.html %}
<div class="width--wrapper" id="post--list__container">
	<article class="post--content">
		{{ content }}
	</article>
	<div class="post--sharing">
		<h4 id="sharecounter"></h4>
		<a href="https://facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url}}" target="_blank" class="share--facebook">Facebook</a>
		<a href="https://twitter.com/home?status={{ page.url | prepend: site.url}}" target="_blank" class="share--twitter">Twitter</a>
		<a href="https://plus.google.com/share?url={{ page.url | prepend: site.url}}" target="_blank" class="share--gplus">Google+</a>
		<a href="" class="share--whatsapp">WhatsApp</a>
	</div>
	<div class="post--prev-next">
		<h4>Könnte dich auch interessieren:</h4>
		<ul>
			{% if page.previous.url %}
			<li>
				<a href="{{page.previous.url}}" alt="Vorheriger Artikel: {{page.previous.title}}">{{page.previous.title}}</a> - {{page.previous.wps_subtitle}}
			</li>
			{% endif %}
			{% if page.next.url %}
			<li>
				<a href="{{page.next.url}}" alt="Nächster Artikel: {{page.next.title}}">{{page.next.title}}</a> - {{page.next.wps_subtitle}}
			</li>
			{% endif %}
		</ul>
	</div>
	{% if page.comments_block %}
	
	{% else %}
		{% include comment.html %}
	{% endif %}
</div>
